// colors //

$responsive: #E1b451;

// fonts //

$mont-extra-bold: 'montserratextrabold';
$mont-bold: 'montserratbold';
$mont-light: 'montserratlight';
$hk-grotesk: 'hk_groteskregular';

$mont-semi-bold: 'montserratsemibold';
$mont-extra-light: 'montserratextralight';
$mont-thin: 'montserratthin';


/* ---------------------------------------
   GENERAL STYLES 
--------------------------------------- */

.wrapper {
    padding: 0 20px;
}

h3 {
    margin-bottom: 20px;
    font-family: $mont-semi-bold;
    font-size: 1.25em; // 20px = 1.25em
    line-height: 30px;
    letter-spacing: .125em;
    color: $responsive;
}

p,
li{
    font-family: $hk-grotesk;
    font-size: 1em;
    letter-spacing: .1em;
    line-height: 26px;
}


/* ---------------------------------------
   HEADER STYLES 
--------------------------------------- */

header {
    display: block;
    width: 100%;
    height: 60vh;
    background-color: $responsive;
    position: relative;
}

// navigation bar //

nav img {
    display: block;
    width: 30px;
    float: right;
    padding-top: 30px;
}

nav ul {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    background-color: $responsive;
}

nav li {
    height: 50px;
    flex-grow: 1;
    text-align: center;
}

nav li a {
    display: block;
    font-family: $mont-bold;
    line-height: 50px;
    font-size: .85em;
    color: white;
    letter-spacing: .125em;

    &:hover {
    background-color: tint( $responsive, 12% );
    }

    &:active,
    &:focus {
        background-color: shade( $responsive, 12% );
    }
    
}


// project title text and images //

.title-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
}

.title-text h1,
.title-text h2 {
    color: white;
    letter-spacing: .125em;
    line-height: 1.125em;
    z-index: 10;
}

.title-text h1 {
    order: 2;
    padding-bottom: 30px;
    font-family: $mont-extra-bold;
    font-size: 1.8em; // 2em = 32px
}

.title-text h2 {
    padding-bottom: 20px;
    font-family: $mont-extra-light;
    font-size: 1.25em; // 1.5em = 24px
}

@media only screen and (min-width: 321px) {
    
    .title-text h1 {
        font-size: 2em; // 2em = 32px
    }
    
    .title-text h2 {
        font-size: 1.5em; // 1.5em = 24px
    }
}

.header-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .5;
}


/* ---------------------------------------
   ALL PROCESS CONTAINER STYLES 
--------------------------------------- */

.container {
    margin: 100px 0;
}

/* ---------------------------------------
   INTRODUCTION CONTAINTER STYLES 
--------------------------------------- */

.project-intro {
    margin-top: 75px;
}

.project-intro p {
    font-size: 1.125em; // 20px = 1.25em
    line-height: 32px;
    margin-bottom: 50px;
}

.project-intro li {
    font-size: .95em;
}

.project-tools-skills {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.tools,
.skills {
    width: 50%;
    text-align: center;
}

.project-intro button {
    display: block;
    margin: 0 auto;
    padding: 14px 18px;
    font-family: $mont-semi-bold;
    text-transform: uppercase;
    font-size: 1.125em;
    letter-spacing: .125em;
    color: white;
    background-color: $responsive;
    
    &:hover {
    background-color: tint( $responsive, 12% );
    }

    &:active,
    &:focus {
        background-color: shade( $responsive, 12% );
    }
    
}

// button sticky nav id's //

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000; 
    font-size: .8em;
    width: 100%;
    text-align: center;
}

/* ---------------------------------------
   FOOTER STYLES 
--------------------------------------- */

footer {
    display: block;
    height: 200px;
    margin-bottom: 50px;
    padding: 20px 0;
    position: relative;
    background-color: #231F20;
}

footer p {
    font-size: .75em;
    color: white;
    position: absolute;
    bottom: 20px;
}


/* ---------------------------------------
   PAGE STYLES
--------------------------------------- */
/* ---------------------------------------
##  RESPONSIVE NEW YORK POST
--------------------------------------- */

// layout container //

.layout img {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
    margin-bottom: 50px;
}

// typography container //

.typography img {
    margin-top: 50px;
}

// color palette //

.swatches {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.swatch {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 265px;
    height: 265px;
    padding: 24px;
}

.swatch p {
    text-transform: uppercase;
    color: white;
}

.swatch-01 {
    background-color: #E1B451;
}

.swatch-02 {
    background-color: #C09945;
}

.swatch-03 {
    background-color: #231F20;
}
 
// repsonsive container

.responsive img:nth-of-type(3) {
    margin-bottom: 50px;
}

// menu container

.menu img:nth-of-type(3) {
    margin-bottom: 50px;
}

/* ---------------------------------------
   TEMP STYLES **DELETE**
--------------------------------------- */

body,
nav ul,
#sticky.stick {
    width: 320px
}
