/* ABOUT PAGE 
======================================= */

#about {

    // header //

    header {
        height: auto;
        background-color: transparent;
    }
    
    nav svg path {
        fill: $black;
    }
    
    nav svg:hover path {
        fill: $highlight;
    }
    
    nav li a {
        color: $black;
    }
    
    // introduction //
    
    .intro p {
        padding-right: 0;
        margin-bottom: 100px;
        max-width: 700px;
    }
    
    .intro h3 {
        font-size: 2.125em;
        color: $black;
        margin-bottom: 30px;
    }

    .intro {
        flex-direction: column;
        justify-content: center;
        margin-top: 175px;
        margin-bottom: 175px;
    }
    
}    