/* NEW YORK POST REDESIGN 
======================================= */

#new-york-post-redesign {

    // layout container //

    .layout img {
        -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
        box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.35);
    }

    // typography //

    .typography img {
        display: block;
        margin: 0 auto;
        max-width: 500px;
    }

    // color palette //

    .swatches {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .swatch {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 265px;
        height: 265px;
        padding: 24px;
    }

    .swatch p {
        text-transform: uppercase;
        color: white;
    }

    .swatch-01 {
        background-color: #E1B451;
    }

    .swatch-02 {
        background-color: #C09945;
    }

    .swatch-03 {
        background-color: #231F20;
    }

}