/* CSS Document */
/* Box sizing & Image reset */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/* focus ring reset -- apply custom focus state */
:focus {
  outline: 0; }

/* button reset */
button {
  border: 0;
  background-color: none;
  color: inherit;
  font: inherit; }

/* --- FONTS --- */
@font-face {
  font-family: 'hk_groteskregular';
  src: url("../fonts/hkgrotesk-regular-webfont.eot");
  src: url("../fonts/hkgrotesk-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hkgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/hkgrotesk-regular-webfont.woff") format("woff"), url("../fonts/hkgrotesk-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratextrabold';
  src: url("../fonts/montserrat-extrabold-webfont.eot");
  src: url("../fonts/montserrat-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("../fonts/montserrat-extrabold-webfont.woff") format("woff"), url("../fonts/montserrat-extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratextralight';
  src: url("../fonts/montserrat-extralight-webfont.eot");
  src: url("../fonts/montserrat-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extralight-webfont.woff2") format("woff2"), url("../fonts/montserrat-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.eot");
  src: url("../fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratthin';
  src: url("../fonts/montserrat-thin-webfont.eot");
  src: url("../fonts/montserrat-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-thin-webfont.woff2") format("woff2"), url("../fonts/montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* ---------------------------------------
   GENERAL STYLES 
--------------------------------------- */
.wrapper {
  padding: 0 20px; }

@media only screen and (min-width: 450px) {
  .wrapper {
    padding: 0 25px; } }
@media only screen and (min-width: 740px) {
  .wrapper {
    padding: 0 30px; } }
@media only screen and (min-width: 1020px) {
  .wrapper {
    padding: 0;
    width: 960px;
    margin: 0 auto; } }
h3 {
  margin-bottom: 20px;
  font-family: "montserratsemibold";
  font-size: 1.25em;
  line-height: 30px;
  letter-spacing: .125em;
  color: #E1b451; }

p,
li {
  font-family: "hk_groteskregular";
  font-size: 1em;
  letter-spacing: .1em;
  line-height: 26px; }

/* ---------------------------------------
   HEADER STYLES 
--------------------------------------- */
header {
  display: block;
  width: 100%;
  position: relative; }

nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 28px; }

nav svg {
  display: block;
  width: 30px;
  z-index: 1000; }

nav svg path {
  fill: white;
  transition: fill .3s ease-in-out; }

nav ul {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  background-color: white; }

nav li {
  height: 50px;
  flex-grow: 1;
  text-align: center; }

nav li a {
  display: block;
  font-family: "montserratbold";
  line-height: 50px;
  font-size: .85em;
  color: #231F20;
  letter-spacing: .125em; }
  nav li a:active, nav li a:focus {
    background-color: #00A99D; }

@media only screen and (min-width: 640px) {
  nav img {
    float: none; }

  nav ul {
    justify-content: flex-end;
    position: static;
    background-color: transparent;
    z-index: 100; }

  nav li {
    height: auto;
    flex-grow: 0;
    margin-left: 30px; }

  nav li a {
    padding: 0 0 6px 0;
    line-height: normal;
    font-size: 1.125em;
    border-bottom: .19em solid transparent;
    transition: border-color .3s; }
    nav li a:hover, nav li a:active, nav li a:focus {
      color: white;
      background-color: transparent;
      border-bottom: 0.19em solid #00A99D; } }
.title-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px; }

.title-text h1,
.title-text h2 {
  color: white;
  letter-spacing: .125em;
  line-height: 1.125em;
  z-index: 10; }

.title-text h1 {
  order: 2;
  padding-bottom: 30px;
  font-family: "montserratextrabold";
  font-size: 1.8em; }

.title-text h2 {
  padding-bottom: 20px;
  font-family: "montserratextralight";
  font-size: 1.25em; }

.header-img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .5; }

@media only screen and (min-width: 321px) {
  .title-text h1 {
    font-size: 2em; }

  .title-text h2 {
    font-size: 1.5em; } }
@media only screen and (min-width: 800px) {
  .title-text h1 {
    font-size: 2.5em;
    padding-bottom: 50px; }

  .title-text h2 {
    font-size: 1.95em; } }
/* ---------------------------------------
   GENERAL PROCESS CONTAINER STYLES
--------------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0; }

.container .description p {
  margin-bottom: 50px; }

.container .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

@media only screen and (min-width: 740px) {
  .container .description p,
  .container .description h3 {
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; } }
@media only screen and (min-width: 960px) {
  .container {
    margin: 150px 0; }

  .container .description p {
    margin-bottom: 100px; } }
/* ---------------------------------------
   INTRODUCTION CONTAINTER
--------------------------------------- */
.intro {
  margin-top: 75px; }

.intro p {
  font-size: 1.125em;
  line-height: 32px;
  margin-bottom: 50px; }

.intro li {
  font-size: .95em; }

.project-tools-skills {
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }

.tools,
.skills {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 145px;
  text-align: center; }

.intro button {
  display: block;
  margin: 0 auto;
  padding: 14px 18px;
  font-family: "montserratsemibold";
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: .125em;
  color: white;
  background-color: #E1b451;
  transition: all 0.5s ease; }
  .intro button:hover {
    background-color: #e5bd66; }
  .intro button:active, .intro button:focus {
    background-color: #c69e47; }

#sticky.stick {
  margin-top: 0 !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  font-size: .8em;
  width: 100%;
  text-align: center; }

@media only screen and (min-width: 900px) {
  .intro {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 125px;
    margin-bottom: 175px; }

  .intro p {
    padding-right: 35px;
    margin-bottom: 100px;
    width: 70%; }

  .project-tools-skills {
    align-self: flex-start;
    width: 30%;
    margin: 0; }

  #sticky-anchor {
    width: 100%; } }
/* ---------------------------------------
   FOOTER STYLES 
--------------------------------------- */
footer {
  display: block;
  height: 200px;
  margin-bottom: 50px;
  padding: 20px 0;
  position: relative;
  background-color: #231F20; }

footer ul {
  display: flex;
  margin: 0 auto; }

footer li:nth-of-type(2) {
  margin: 0 10px; }

footer a {
  display: block;
  color: white;
  font-size: 26px;
  padding: 8px; }

footer p {
  font-size: .75em;
  color: white;
  position: absolute;
  bottom: 20px; }

@media only screen and (min-width: 640px) {
  footer {
    margin-bottom: 0; }

  footer ul {
    float: right; }

  footer a {
    transition: color .3s ease-in-out; }

  footer a:hover,
  footer a:focus {
    color: #00A99D; }

  footer a:active {
    color: #00877e; } }
/* ---------------------------------------
   INDIVIDUAL PAGE STYLES
--------------------------------------- */
/* PROJECT PAGE
======================================= */
.project-page header {
  height: 60vh;
  background-color: #E1b451; }
@media only screen and (min-width: 640px) {
  .project-page header {
    height: 70vh; } }
@media only screen and (min-width: 740px) {
  .project-page header {
    height: 60vh; } }

#new-york-post-redesign nav svg:hover path {
  fill: #231F20; }
#new-york-post-redesign nav ul {
  background-color: #E1b451; }
#new-york-post-redesign nav li a {
  color: white; }
  #new-york-post-redesign nav li a:hover, #new-york-post-redesign nav li a:focus {
    background-color: #e5bd66; }
  #new-york-post-redesign nav li a:active {
    background-color: #c69e47; }
@media only screen and (min-width: 640px) {
  #new-york-post-redesign nav ul {
    background-color: transparent; }
  #new-york-post-redesign nav li a {
    border-bottom: 2px solid transparent; }
    #new-york-post-redesign nav li a:hover, #new-york-post-redesign nav li a:active, #new-york-post-redesign nav li a:focus {
      color: white;
      background-color: transparent;
      border-bottom: 0.19em solid #231F20; } }
#new-york-post-redesign .layout img {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.35); }
#new-york-post-redesign .typography img {
  display: block;
  margin: 0 auto;
  max-width: 500px; }
#new-york-post-redesign .swatches {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px; }
#new-york-post-redesign .swatch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 265px;
  height: 265px;
  padding: 24px; }
#new-york-post-redesign .swatch p {
  text-transform: uppercase;
  color: white; }
#new-york-post-redesign .swatch-01 {
  background-color: #E1B451; }
#new-york-post-redesign .swatch-02 {
  background-color: #C09945; }
#new-york-post-redesign .swatch-03 {
  background-color: #231F20; }
#new-york-post-redesign footer a:hover,
#new-york-post-redesign footer a:focus {
  color: #E1b451; }
#new-york-post-redesign footer a:active {
  color: #b49041; }

/* ABOUT PAGE 
======================================= */
#about header {
  height: auto;
  background-color: transparent; }
#about nav svg path {
  fill: #231F20; }
#about nav svg:hover path {
  fill: #00A99D; }
#about nav li a {
  color: #231F20; }
#about .intro p {
  padding-right: 0;
  margin-bottom: 100px;
  max-width: 700px; }
#about .intro h3 {
  font-size: 2.125em;
  color: #231F20;
  margin-bottom: 30px; }
#about .intro {
  flex-direction: column;
  justify-content: center;
  margin-top: 175px;
  margin-bottom: 175px; }

/*# sourceMappingURL=styles.css.map */
